
/* Whole document: */

body {
  margin-top: 70px !important;
}

/* Navigation bar settings */

.navbar {
  min-height: 70px !important;
  height: 70px;
  background-color: #fcfcfc33;
  box-shadow: 0 0 30px rgba(252, 252, 252, 0.56);
  background-image: linear-gradient(to bottom, #fcfcfc, #fcfcfc, #fcfcfcfa, #fcfcfcea, #fcfcfcda, #fcfcfcca, #fcfcfcba, #fcfcfcaa, #fcfcfc76, #fcfcfc23) !important;
}

/* Make mobile navbar skinnier */

  @media screen and (max-width: 768px) {
    body {
      margin-top: 70px !important;
    }
     .navbar {
      min-height: 70px !important;
    }
  }

/*make drop down menu more opaque on mobile */

@media (max-width: 991.98px) { 
  .navbar-collapse {
    background-color: #f7f7f7d9 !important;
  }
}

/*----NAV LINK HOVER ANIMATION -----*/

.nav-link:hover {
  color: rgba(150, 7, 7, 1) !important;
}


/* stroke */

a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: rgba(150, 7, 7, 1);
  height: 2px;
}

a.nav-link:hover:after {
  width: 70%;
}



/*************************************************
 *  Navigation bar
 **************************************************/


.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 17px;
  font-weight: bold;
}




/*************************************************
 *  Footer
 **************************************************/

footer {
  margin: 0.5rem 0 0;
  padding: 2px 0;
  height: 20px;
  width: 100%;
}

footer p {
  font-size: 0.9rem;
  text-align: center;
}

site-footer,
footer a.back-to-top i {
  color: rgba(10,10,20,0.9);
}

.dark site-footer,
.dark footer a.back-to-top i,
.dark .docs .body-footer {
  color: rgba(255,255,255,0.54);
}


/*************************************************
 *  Hero Widget
 **************************************************/

.wg-hero {
  padding: 3em 0;
  clear: both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: intro 0.3s both;
  animation-delay: 0s;
  animation-delay: 0.25s;
}

.hero-title {
  font-size: 1.5rem;
  margin-top: 2;
  line-height: 1;
}

.hero-lead {
  max-width: 768px;
  font-size: 1rem;
}

.wg-hero.dark .hero-title,
.wg-hero.dark .hero-lead,
.wg-hero.dark .hero-cta-alt,
.wg-hero.dark .hero-note > * {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5); /* Uncomment to standout on complicated backgrounds. */
}

.wg-hero.dark a:not(.wg-hero .btn) {
  color: #fff;
}

.wg-hero .hero-lead a {
  text-decoration: underline;
}

.wg-hero .cta-btns {
  margin-bottom: 16px;
}

.wg-hero .btn {
  padding: .6em 2.1em;
}

.wg-hero.dark .btn {
  color: #167b1a;
}

a.hero-cta-alt {
  display: inline-block;
  position: relative;
  transition-duration: .2s;
  transition-property: transform;
  transition-timing-function: ease-out;
  font-size: 1.1rem;
}

a.hero-cta-alt:active,
a.hero-cta-alt:focus,
a.hero-cta-alt:hover {
  transform: scale(1.1);
}

.wg-hero .btn-lg {
  font-size: 1.1rem;
}

.wg-hero .hero-note {
  font-size: 0.8rem;
}

.hero-media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  text-align: center;
}




/*************************************************
 *  Button size override
 *************************************************/

.btn {
  padding: .5rem;
  font-size: 1rem;
  line-height: .5;
  border-radius: .3rem;
}

.btn-links .btn {
  padding: 5px .5rem 5px .5rem;
  line-height: 1;
}

.btn.btn-sm {
  padding: 5px .4rem 5px .4rem;
  font-size: .7rem;
  border-radius: .2rem;
}


/******************
* Dark mode buttons
************************/


.dark .btn-primary,
.dark .btn.btn-primary.active {
  color: #000000;
}

/* Size of pictures */

.gallery a[data-fancybox] img {
  height: 190px;
  max-width: 40%;
  display: inherit;
  padding: 3px;
}

/* Post font size & page width */
.article-container {
  max-width: 850px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  font-size: 20px;
}


/**************************************************
**      Callout box settings **
**************************************************/

.article-style aside p,
div.alert > div {
  position: relative;
  display: block;
  /* I made the font size smaller & adjusted the margin-left */
  font-size: 0.8rem;
  margin-left: 1.7rem;
  margin-top: 0;
  margin-bottom: 0;
  } 


/* The color of the icon & its top & left positions */ 

.article-style aside p::before,
div.alert > div:first-child::before {
  position: absolute;
  top: -0.3rem;
  left: -2rem;
  font-size: 1.4rem;
  color: #0EAD69;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f05a';
  width: 1rem;
  text-align: left;
}

/* The borders and backgrounds here */
.article-style aside,
.alert-note {
  color: #26547C;
  background-color: #F7F7F7;
  border-color: #0EAD69;
}

.alert-warning {
  color: #cd0930;
  background-color: #fff5f7;
  border-color: #ff3860;
}


/*********************************************
**   ANIMATION ON MAIN ABOUT PAGE **
*********************************************/

#about {
	@keyframes slide-up {
		0% {
    transform: translate3d(5ch,10in, 6em);
		}
		100% {
    transform: translate3d(0);
		}
	}

	@keyframes fade-in {
	  0% {
		opacity: 0;
	  }
	  100% {
		opacity: 1;
	  }
	}

  .biography-title {
    font-size: 50px;
	font-weight: bold;
	text-shadow: 2px 2px 2px #ababab;
	}
  
  .main-content {
	animation: slide-up 2s cubic-bezier(.33,1,.68,1) forwards;
	animation-delay: 0ms;
	}

	.moreabout-button {
	opacity: 0;
	animation: fade-in 3s forwards;
	animation-delay: 3.5s;
	}
}


/*******************************
* Other stuff
*******************************/


/******************************
* From Connor Rothschild
*******************************/

$dark-grey: #505050;
$light-grey: #efefef;


/**************************************************
**  SOCIAL MEDIA ICONS AND MAP LEAFLET LINKS     **
* settings for the social media icons and link    *
* text on the map, to have diffferent settings    *
* compared to other hyperlinks in the text        *
**************************************************/

#profile .network-icon {
    li {
      a { color: white !important;
          background: none;
      }
    }
  }
  

#contact {
.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-control-attribution{
      a { color: #700001;
          background: white;
        }
    }
 }   



/* buttons */

.btn {
  border-radius: 5px;
  margin: 2.5px;
  padding: .3rem;
  line-height: 1;
  -webkit-box-shadow: 3px 3px 0 0 $dark-grey;
          box-shadow: 3px 3px 0 0 $dark-grey;
  color: $dark-grey;
  border-color: $sta-primary-dark;
  background-color: white !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  
    &:focus {
    -webkit-box-shadow: 3px 3px 0 0 white !important;
            box-shadow: 3px 3px 0 0 white !important;
    color: $sta-primary-dark;
    }
  
  &:hover {
    background-color: $light-grey !important;
    color: $sta-primary-dark;
    border-color: #700001;
    }
}

.btn-toolbar .btn.active  {
  background-color: $sta-primary-dark !important;
  -webkit-box-shadow: 3px 3px 0 0 white !important;
          box-shadow: 3px 3px 0 0 white !important;
}

.btn-links .btn {
  padding: .3rem;
}

.btn-links .btn:hover {
  padding: .3rem;
  color: $sta-primary-dark;
  border-color: #700001;
  background-color: $light-grey !important;
}


/* link styling */

.card-text p a, .powered-by a {
  text-decoration: none;
  padding: 2px;
  border-radius: 7px;
  background: $light-grey;
}

.card-text p a:hover, .powered-by a:hover { 
   background: rgba(112, 0, 1, 0.6);
   color: $light-grey;
}


/* Underline links in dark sections to separate them from text */

/*
.home-section.dark a:not(.btn):not(.hero-cta-alt)  {
  text-decoration: none;
  color: #c1a037;
  padding: 3px;
  border-radius: 3px;
  background: $dark-grey;
  }
*/  

.wg-contact.dark {
  a:not(.btn):not(.hero-cta-alt) {
  text-decoration: none;
  color: #c1a037;
  font-weight: bold;
  }
  
  a:not(.btn):not(.hero-cta-alt):hover {
  text-decoration: underline;
  color: #c1a037;
  font-weight: bold;
  }
}


.wg-about.dark {
    a:not(.btn):not(.hero-cta-alt)  {
    text-decoration: none;
    color: $light-grey;
    padding: 1.5px;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.2);
    }
  
    a:not(.btn):not(.hero-cta-alt):hover  {
    text-decoration: underline;
    color: #c1a037;
    padding: none;
    border-radius: none;
    background: none;
    font-weight: bold;
    }
 }  
  


/* blog formatting */
.hljs {
  background: $light-grey !important;
}



/* awards and experience cards */
.card.experience.course.card-title {
  font-size: 1rem;
}

.card-subtitle.my-0.article-metadata,
.card .text-muted.exp-meta {
  font-size: .8rem;
  letter-spacing: 0 !important;
}

.course .card-body .card-text,
.experience .card-body .card-text {
  padding: .8rem 0.5rem .8rem 0 !important;
}


/* add images to experience cards */

.flex-w-experience-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flex-w-experience-text {
  display: flex;
  flex-direction: column;
}
.experience-image {
  max-width: 60px;
  margin-right: 10px;
}


/* custom css for awards */

#accomplishments {
  .margin-top {
    margin-top: 20px;
  }
  .vertical-center {
    justify-content: center;
  }
  .card-title {
    font-size: 1.4rem;
  }
  .card-subtitle {
    font-size: 1.2rem;
  }
  .card {

    .init-hidden {
        p {
          max-height: 0;
          transition: max-height 1s ease-out;
          overflow: hidden;
          margin-bottom: 0 !important;
        }
        
        &.card-text {
          padding: 0 !important;
        }
      }
    
    &:hover {
    .init-hidden p {
      max-height: 1000px;
      transition: max-height 1s ease-in;
    }
  }
}
}

/* article styling */
.article {
  p a {
  text-decoration: none;
  padding: 3px;
  border-radius: 3px;
  background: $light-grey;
}

 p a:hover { 
   background: $dark-grey;
   color: #c1a037;
 }
}