/*************************************************
 *  Contact
 **************************************************/

.wg-contact .fa-ul {
  margin-left: 6.14285714rem; /* Must be > `fa-2x` icon size. */
}

.wg-contact .fa-li {
  position: absolute;
  left: -3.14285714rem; /* Negative of `.wg-contact .fa-ul` margin. */
  width: 2rem; /* Match `fa-2x` icon size. */
  top: 0em; /* Default FA value. */
  text-align: center;
}

.wg-contact li {
  padding-top: 0.8rem; /* Align text with bottom of `fa-2x` icon. */
  margin-bottom: 0.3rem;
}

.wg-contact li:last-of-type {
  margin-bottom: 0;
}

#map {
  height: 300px;
  width: 160%;
  left: 0rem;
  top: 2em; 
}

// Prevent OpenStreetMap inheriting link color from section of a different theme variation.
// E.g. Light colored OpenStreetMap UI inheriting dark themed link (`.home-section.dark a`)
// from a dark widget page section.
#map a {
  color: initial;
}
